:root {
    --light-gray: #E6EBED;
    --gray: #7E7D7D;
    --white: #ffffff;
    --light-blue: #D9F1F6;
    --blue: #6DDAF2;
    --dark-blue: #21A2BF;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 16px;
}
p {
    color: var(--gray);
}

.navigation {
    background: var(--light-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    width: 100vw;
    height: 89px;
    box-sizing: border-box;
}
.navigation .logo {
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
    color: var(--dark-blue);
}
.navigation .nav-links {
    display: flex;
    flex-direction: row;
    gap: 75px;
}
.navigation .nav-link {
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: 30px 0;
}
.active {
    color: var(--dark-blue) !important;
    border-bottom: 4px solid var(--dark-blue);
}
.pc {
    padding: 0 150px;
}

.hero {
    height: 800px;
    padding-top: 85px;
    background: var(--light-blue);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.hero .hero-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}
.hero .hero-text h1 {
    font-size: 4rem;
}
.hero .hero-text p {
    color: var(--gray)
}
.hero .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.title h2 {
    font-size: 2rem;
}
.title h6 {
    font-size: 0.75rem;
    color: var(--dark-blue);
}
.services .description {
    margin-top: 75px;
    margin-bottom: 75px;
}
.services .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.services .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.services .items .item span {
    font-size: 5rem;
    color: var(--dark-blue);
    background: var(--light-blue);
    padding: 5px;
    border-radius: 50%;
}

.info .card {
    display: flex;
    flex-direction: row;
    padding: 50px;
    background: var(--light-gray);
    border-radius: 25px;
}
.info-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}
.info-image {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 50%;
}
.info-image img {
    height: 100%;
    width: auto;
}

.connect {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.connect .description {
    margin-top: 75px;
    margin-bottom: 75px;
}
.connect .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.connect .socials .card {
    background: var(--light-gray);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.connect .socials .card .button {
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
    background: var(--dark-blue);
    padding: 10px 0;
    border-radius: 5px;
    width: 100%;
    transition: 0.4s;
}
.connect .socials .card .button:hover {
    background: var(--blue);
}
.opinions {
    background: var(--light-gray);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.opinions .cards {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.opinions .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    background: var(--white);
    border-radius: 15px;
}
.opinions .cards .card span {
    font-size: 5rem;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}
.rating .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background: var(--light-gray);
    width: 100%;
    gap: 25px;
}
.rating .form .button-star {
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--dark-blue);
    transition: 0.4s;
}
.rating .form .button-star:hover {
    color: var(--blue);
}

.rating .form  textarea {
    width: 400px;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}
.rating .form  .submit-button {
    color: var(--white);
    background: var(--dark-blue);
    border-radius: 10px;
    border: none;
    outline: none;
    width: 422px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.6s;
}
.rating .form  .submit-button:hover {
    background: var(--blue);
}
